<head>
    <%- include('../partials/head'); %>
</head>
<header>
    <%- include('../partials/header'); %>
</header>
<div class="container">
    <div class="row">
        <div class="col">
            <table class="table table-bordered">
                <tr>
                  <th>SHA Key</th>
                  <th>Message</th>
                  <th>Commited By</th>
                  <th>Date</th>
                  <th></th>
                </tr>
                
                  <tr>
                   
                    <td>
                      <%= respCommit.sha %>
                    </td>
                    <td>
                      <%= respCommit.commit?.message %>
                    </td>
                    <td>
                      <%= respCommit.commit?.committer?.name %>
                    </td>
                    <td>
                      <%= respCommit.commit?.committer?.date %>
                    </td>
                    <td>
                      <a href="./files?sha=<%= respCommit.sha %>" class="link-primary">View Files</a>
                    </td>
                  </tr>
                 
              </table>
        </div>
    </div>