<head>
  <%- include('../partials/head'); %>
</head>
<header>
  <%- include('../partials/header'); %>
</header>

<section class="step-container my-3">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-md-8">
        <div class="wizard">
          <div class="wizard-inner">
            <div class="connecting-line"></div>
            <ul class="nav nav-tabs step-nav" role="tablist">
              <li role="presentation" id="step1" class="active">
                <a role="tab" aria-expanded="true"><span class="round-tab">1 </span> <i>Branches</i></a>
              </li>
              <li role="presentation" id="step2" class="active">
                <a role="tab" aria-expanded="false"><span class="round-tab">2</span> <i>Rollout</i></a>
              </li>
              <li role="presentation" id="step3" class="disabled">
                <a role="tab"><span class="round-tab">3</span> <i>Files</i></a>
              </li>
              <li role="presentation" id="step4" class="disabled">
                <a role="tab"><span class="round-tab">4</span> <i>Create Rollout</i></a>
              </li>
              <li role="presentation" id="step5" class="disabled">
                <a role="tab"><span class="round-tab">5</span> <i>Deploy Script</i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container">
  <div class="row">
    <div class="col card p-0">
      <table class="table table-striped table-bordered text-center mb-0">
        <thead class="table-dark">
          <th>Sr. No.</th>
          <th>Message</th>
          <th>Commited By</th>
          <th>Date</th>
          <th>Action</th>
        </thead>
        <% for(var i=0; i < respCommit.length; i++) { %>
          <% if(respCommit[i].commit?.message.toString().includes('UL-TMP')||respCommit[i].commit?.message.toString().includes('COV')){
            %>
            <tr>
              <td>
                <%= i + 1 %>
              </td>
              <td>
                <%= respCommit[i].commit?.message %>
              </td>
              <td>
                <%= respCommit[i].commit?.committer?.name %>
              </td>
              <td>
                <%= moment(respCommit[i].commit?.committer?.date).format('DD MMM, YYYY hh:mm A') %>
              </td>
              <td>
                <a href="./files?sha=<%= respCommit[i].sha %>&commit=<%= respCommit[i].commit?.message %>"
                  class="btn btn-primary">View Files</a>
              </td>
            </tr>
            <%}%>
              <%}%>
      </table>
    </div>
  </div>
</div>
<%- include('../partials/footer'); %>