<head>
    <%- include('../partials/head'); %>
</head>
<header>
    <%- include('../partials/header'); %>
</header>
<div class="container">
    <div class="row">
        <div class="col">
            <% if (success_msg !='' ) { %>
                <div class="mt-5 mb-3">
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <%= success_msg %><button type="button" class="btn-close" data-bs-dismiss="alert"
                                aria-label="Close"></button>
                    </div>
                </div>
                <% } %><%= changedFiles.ssh %>
                    <table class="table table-bordered">
                        <tr>
                            <th>Sr.No.</th>
                            <th>File Name</th>
                            <th>Status</th>
                        </tr>
                        
                        <% for(var i=0; i < changedFiles?.files?.length; i++) { %>
                            <tr>
                                <td>
                                    <%= i + 1 %>
                                </td>                                
                                <td>
                                    <%= changedFiles.files[i].filename %>
                                </td>                                
                                <td>
                                    <%= changedFiles.files[i].status %>
                                </td>
                            </tr>
                            <%}%>
                    </table>
                    <form method="post" action="/deployRollout">
                        <input type="submit" class="btn btn-info" value="Create Rollout">
                    </form>
                  
        </div>
    </div>