<head>
    <%- include('../partials/head'); %>
</head>
<header>
    <%- include('../partials/header'); %>
</header>
<div class="container">
    <div class="row">
        <div class="col">
            <% if (success_msg !='' ) { %>
                <div class="mt-5 mb-3">
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <%= success_msg %><button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </div>
                <% } %>
                    <table class="table table-bordered">
                        <tr>
                            <th>Sr.No.</th>
                            <th>File SHA Key</th>
                            <th>File Name</th>
                            <th>Additions</th>
                            <th>Deletions</th>
                            <th>Changes</th>
                            <th></th>
                        </tr>

                        <% for(var i=0; i < changedFiles?.files?.length; i++) { %>
                            <tr>
                                <td>
                                    <%= i + 1 %>
                                </td>
                                <td>
                                    <%= changedFiles.files[i].sha %>
                                </td>
                                <td>
                                    <%= changedFiles.files[i].filename %>
                                </td>
                                <td>
                                    <%= changedFiles.files[i].additions %>
                                </td>
                                <td>
                                    <%= changedFiles.files[i].deletions %>
                                </td>
                                <td>
                                    <%= changedFiles.files[i].changes %>
                                </td>
                                <td>
                                    <a href="./createFile?fileName=<%= changedFiles.files[i].filename %>" class="link-primary">Create Folder</a>
                                  </td>
                            </tr>
                            <%}%>
                    </table>
                    <form method="post" action="/">
                        <input type="submit" class="btn btn-info" value="Create Rollout">
                    </form>
        </div>
    </div>