<head>
  <%- include('../partials/head'); %>
</head>
<header>
  <%- include('../partials/header'); %>
</header>
<div class="container">
  <div class="row">
    <div class="col">
      <!-- <select class="form-control">
        <option value="">Select Branch</option>
        <% for(var i=0; i < response.length; i++) { %>
          <option value='<%= response[i].name %>'>
            <%= response[i].name %>
          </option>
          <%}%>
      </select> -->
      <% if (success_msg !='' ) { %>
        <div class="mt-5 mb-3">
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <%= success_msg %><button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
        <% } %>
      <table class="table table-bordered">
        <tr>
          <th>Sr.No.</th>
          <th>Branch Name</th>
          <th>Commits</th>
        </tr>
        <% for(var i=0; i < response.length; i++) { %>
          <tr>
            <td>
              <%= i + 1 %>
            </td>
            <td>
              <%= response[i].name %>
            </td>
            <td>
              <a href="./commits?branch=<%= response[i].name %>" class="link-primary"><%= response[i].commit?.sha %></a>
            </td>
          </tr>
          <%}%>
      </table>
    </div>
  </div>
</div>
<footer>
  <%- include('../partials/footer'); %>
</footer>